<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"

      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head">
    </head>
       
    <body>
        <header th raplace ="layout/plantilla : : header"></header>
        
        <section th:replace="categoria/fargmentos : : botonesAgregar" />
        <section th:replace="categoria/fargmentos : : agregarCategoria" />
        <section th:replace="categoria/fargmentos : : listadoCategoria" />
        
        <footer th raplace ="layout/plantilla : : footer"></footer>
    </body>
</html>
